<!-- <section>aaa</section> -->
<form [formGroup]="personForm" (ngSubmit)="addPerson(personForm.value)">
  <div class="form-group">
      <label for="person.name">Name : </label>
      <input name="person.name" class="form-control" [(ngModel)]="person.name" formControlName="name" value="person.name" required >
  </div>
  
  <div class="form-group">
      <label for="person.weight">Weight : </label>
      <input name="person.weight" class="form-control" [(ngModel)]="person.weight" formControlName="weight" value="person.weight" required >
  </div>

  <div class="form-group">
      <label for="person.height">Height : </label>
      <input name="person.height" class="form-control" [(ngModel)]="person.height" formControlName="height" value="person.height" required >
  </div>
  <button type="submit" [disabled]="!personForm.valid">Save</button>
</form>

  <app-list-person (editData)="editPerson($event)"></app-list-person> 